// Specific CSS for your home-page

#pages_home {

  a:hover {
  	text-decoration:none !important;
  }


  body {
  	background-color: white;
  }

  h3 {
  font-size:28px;
  }

  //Input & Button

  input {
  	margin-top:100px;
  	padding: 18px;
      padding-left: 24px !important;
      padding-right: 24px !important;
      max-width: none !important;
  }

  .btn-home {
  	padding:18px;
    	color: white;
    	border-radius: 4px;
    	font-weight: bold;
    	background: #e83929;
    	transition: background 0.3s ease;
  }
  .btn-home:hover {
    	opacity: 1;
    	background: #e83929;
    	text-decoration: none;
    	color: white;
  }

  .user-card {
  background-size: cover;
  height: 250px;
  width:250px;
  margin-bottom: 0;
  position: relative;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  overflow:hidden;
  justify-content: space-around;
  &:hover {
    background-color: white;
    opacity: 0.8;
  }

  .card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
}

}