#registrations_edit{
	
	label {
		display: block;
    	padding-top: 9px;
    	padding-bottom: 8px;
	}

	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
		margin-top:-3px;
	}


	
}