#users_show {
	
	p {
	font-size:15px;
	}

	.subtitle-experiences {
	color:#777;
	border-bottom:solid 1px #777;
	margin-bottom:30px;
	}

	.fa-plus {
	margin-top:36px;
	}

	.modal-content {
      height: 100%;
      margin: 0;
    }
}