<div class="container">
	<div class="row">
		<div class="col-md-3 mt-50">
			<% if @user.picture.nil?  %>
            	<%= image_tag "picto_base.png", height: 200, width: 200, crop: :fill, class: "img-responsive" %>
            
          	<% else %>
            	<%= cl_image_tag @user.picture.path, height: 200, width: 200, crop: :fill, class: "img-responsive" %>
          	<% end %>
		</div>
		<div class="col-md-9 mt-50">
			<h2><%= @user.first_name %> <%=@user.last_name %></h2>
			<% if @user.is_realestate == true %>
				<p>Conseiller immobilier</p>
			<% end %>
		</div>
	</div>
</div>