<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h1 class="mt-100" style="font-size:2em; font-weight:bold; color:#E60028";>Conseiller Immobilier</h1>
			<p>Découvrez les conseillers immobiliers de votre ville</p>

			<form>
				<input type="text" placeholder="Paris">
				<buton type="submit" class="btn-home">Rechercher </buton>
		</div>
	</div>
</div>
