<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h1 class="mt-100" style="font-size:2em; font-weight:bold; color:#E60028";>Conseiller Immobilier</h1>
			<p>Découvrez les conseillers immobiliers de votre ville</p>

			<form>
				<input type="text" placeholder="Paris">
				<buton type="submit" class="btn-home">Rechercher </buton>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="mt-50 bold">Les nouveaux conseillers</h3>
		</div>
	</div>
	<div class="row">
		<% @users.each do |user| %>
			<%= render "user-card", user: user %>
		<% end %>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3 class="mt-50 bold">Les nouveaux biens à vendre</h3>
		</div>
	</div>
	<div class="row">
		<% @sales.each do |sale| %>
			<%= render "sales-card", sale: sale %>
		<% end %>
	</div>

</div>
