.img-responsive {
    width:100%;
    height:auto;
  }

  .card {
  background-size: cover;
  margin-bottom: 0;
  position: relative;
  display:flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  overflow:hidden;
  justify-content: space-around;
  position:relative;
    &:hover {
      background-color: white;
      opacity: 0.8;
    }

  }

.sale-card {
  
  height: 240px;
  width:370px;
  
  }


 .user-card {
  
  height: 250px;
  width:250px;
  
  }

  

  .card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

  .sale-card-header {
    color: white;
    text-align: center;

      
    }
  
  .infos-sub-header {
    font-size: 16px;
  }

/* Position de l'avatar sur sale-card */
  .avatar-sale-card {
  	position:absolute;
  	top:10px;
  	left:305px;
  	width:30px;
  	height:30px;

  }

  .pencil-sale-card {
  	position:absolute;
  	top:10px;
  	left:10px;

  }
