.mt-20 {
	margin-top:20px;
}

.mt-25 {
	margin-top:25px;
}

.mt-50 {
	margin-top:50px;
}

.mt-100 {
	margin-top:100px;
}

.mb-20 {
	margin-bottom:20px;
}

.mb-50 {
	margin-bottom:50px;
}

.mr-0 {
	margin-right:0;
}

.mr-10 {
	margin-right:10px;
}

.ml-0 {
	margin-left:0;
}

.ml-10 {
	margin-left:10px;
}

.pt-100 {
	padding-top:100px;
}

.pt-200 {
	padding-top:200px;
}

.pb-50 {
	padding-bottom:50px;
}

.pb-100 {
	padding-bottom:100px;
}

.pb-200 {
	padding-bottom:200px;
}


.pl-0 {
	padding-left:0;
}